@media screen and (min-width: 900px) {
  body {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  #caption span {
    line-height: 1.8rem;
    font-size: calc(1rem + 0.25vw);
  }
}

@media screen and (min-width: 1000px) {
  body {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media screen and (min-width: 2000px) {
  body {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}